.margin-x-auto {
  margin-inline: auto;
}
.margin-auto {
  margin: auto;
}
.max-width-max-content {
  max-width: max-content;
}
.max-width-fit-content {
  max-width: fit-content, 100%;
}
.form-max-width {
  max-width: 550px;
}
