.service-card {
  margin-block: 1em;
  width: max-content;
  margin-inline: auto;

  position: relative;
  &.accent-green {
    --clr: var(--green-text);
  }

  &.accent-blue {
    --clr: var(--blue-dark);
  }
}

.service-card .btn {
  color: var(--white);
  position: relative;
  background-color: var(--clr);
  z-index: 1;
  outline: 3px solid #fff;
  padding: 0.5em 1em;
  transition: 200ms;
  &:hover {
    outline-offset: 0.4em;
  }
}
//--btn de lca carte--------------------
.service-card .title {
  margin-bottom: 1.2em;
  position: relative;
  width: fit-content;

  &:before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    margin-right: 0.1em;
    height: 0.5em;
    width: 1em;
    background: var(--clr);
  }
}
//__end__btn de lca carte----------------

.service-text-side {
  max-width: 500px;
  padding: 1em;
  padding-left: 2em;
}
.service-card:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 87%;
  top: 0;
  left: 0;
  bottom: 0;
  border: 3px solid var(--clr);
  border-radius: inherit;
  z-index: -1;
}

.service-img-side {
  height: 300px;
  width: 400px;
  position: relative;
  overflow: hidden;
  margin: 1em;

  &:after {
    position: absolute;
    content: "";

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    $clr: rgb(126, 0, 67);
    background: radial-gradient($clr, rgba($clr, 0.3), transparent);
  }
}
.service-img-side img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 990px) {
  .service-card {
    flex-wrap: wrap;
    width: 100%;

    &:before {
      width: 100%;
      height: 90%;
    }
    .service-text-side,
    .service-img-side {
      max-width: 100%;
    }
  }
}
