.scheme-label {
  position: relative;
  $s: 1.4em;
  height: $s;
  aspect-ratio: 1;
  padding: 1em;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    box-shadow: 3px 0 15px var(--text-color);
    box-shadow: 3px 0 15px var(--blue-text);
    border-radius: 4em;
    filter: blur(5px);
  }
  .icon {
    position: absolute;
    // inset: 10%;

    transition: 200ms;
    svg {
      // height: 100%;
      // width: 100%;
      margin: 0;
    }
  }
}
#hide-icon {
  opacity: 0;
  transform: scale(0.2);
}
html[color-scheme="light"] {
  .scheme-label .icon--moon {
    @extend #hide-icon;
  }
}
html[color-scheme="dark"] {
  .scheme-label .icon--sun {
    @extend #hide-icon;
  }
}
