.form-title {
  // color: #fff;

  &:before {
    content: "";
    display: inline-block;
    width: 2em;
    height: 3px;
    background: var(--green);
    bottom: 0.2em;
    position: relative;
    margin-right: 0.5em;
  }
}
.form {
  padding: 1em;

  border: 1px solid var(--text-color);
  width: 100%;
}
